body{
    background: lightgray;
}
header{
    background: grey;
}

ul{
    list-style: none;
}

nav a {
    color: lime;
}

a{
    color: magenta;
}

span{
    color: magenta;
}

section a{
    text-decoration: none;
}

